<div class="profile-settings"> _____________THIS IS .EDIT PROFILE

    <div style="margin-top: 130px; text-align: center;">this is div margin-top 130px</div> <!--TODO-->

    <div class="profile-settings__section">
        <div class="profile-settings__section__flex-container">
            <div class="col col-1">
                <div class="circle circle-big"></div>
                <h1>Sisyphus Ventures</h1>
                <a href="about:blank">unitedui.com/sisyphus</a>
            </div>
            <div class="col col-2"></div>
            <div class="col col-3">
                <button class="btn btn-cancel">View profile</button>
            </div>
        </div>
    </div>

    <div class="profile-settings__section">
        <div class="profile-settings__section__flex-container">
            <div class="col col-1">
                <h2>Company profile</h2>
                <div class="text">Update your company photo and details here.</div>
            </div>
            <div class="col col-2"></div>
            <div class="col col-3">
                <button class="btn btn-cancel">Cancel</button>
                <button class="btn btn-save">Save changes</button>
            </div>
        </div>
    </div>

    <div class="profile-settings__section">
        <div class="profile-settings__section__flex-container">
            <div class="col col-1">
                <h3>Public profile</h3>
                <div class="text">This will be displayed on your profile.</div>
            </div>
            <div class="col col-2">
                <!-- <div class="input-container"> -->
                <input type="text" class="text-input-field" placeholder="Sisyphus Ventures">
                <!-- </div> -->
                <!-- <div class="input-container"> -->
                <input type="text" class="text-input-field" placeholder="unitedui.com/ | sisyphus">
                <!-- </div> -->
            </div>
            <div class="col col-3"></div>
        </div>
    </div>

    <div class="profile-settings__section">
        <div class="profile-settings__section__flex-container">
            <div class="col col-1">
                <h3>Company logo</h3>
                <div class="text">Update your company logo and then <br>
                    choose where you want it to display.</div>
            </div>
            <div class="col col-2"> <!--TODO dropzone-->
                <div class="circle circle-small"></div>
                <div class="drop-zone">
                    <div class="text">
                        <span class="hypertext">Click to upload</span> or drag and
                        drop
                        <br>SVG, PNG, JPG or GIF (max. 800x400px)
                    </div>
                    <input type="file" id="fileInput" class="file-input" multiple>
                </div>
            </div>
            <div class="col col-3"></div>
        </div>
    </div>

    <div class="profile-settings__section">
        <div class="profile-settings__section__flex-container">
            <div class="col col-1">
                <h3>Branding</h3>
                <div class="text">Add your logo to reports and emails.</div>
                <a href="about:blank" class="text hypertext">View examples</a>
            </div>
            <div class="col col-2">


                <input type="checkbox" class="custom-checkbox" id="checkbox-reports" disabled checked autofocus>
                <label for="checkbox-reports">
                    <h3>Reports</h3>
                </label>
                <p class="checkbox-description text">Include my logo in summary reports.</p>

                <input type="checkbox" class="custom-checkbox" id="checkbox-emails" disabled>
                <label for="checkbox-emails">
                    <h3>Emails</h3>
                </label>
                <p class="checkbox-description text">Include my logo in customer emails.</p>


            </div>
            <div class="col col-3"></div>
        </div>
    </div>

    <div class="profile-settings__section">
        <div class="profile-settings__section__flex-container">
            <div class="col col-1">
                <h3>Social profiles</h3>
            </div>
            <div class="col col-2">
                <div class="input-container">
                    <input type="text" class="text-input-field" placeholder="Sisyphus Ventures">
                </div>
                <div class="input-container">
                    <input type="text" class="text-input-field" placeholder="Sisyphus Ventures">
                </div>
                <div class="input-container">
                    <input type="text" class="text-input-field" placeholder="Sisyphus Ventures">
                </div>
            </div>
            <div class="col col-3"></div>
        </div>
    </div>

    <div class="profile-settings__section">
        <div class="profile-settings__section__flex-container">
            <div class="col col-1"></div>
            <div class="col col-2"></div>
            <div class="col col-3">
                <button class="btn btn-cancel">Cancel</button>
                <button class="btn btn-save">Save changes</button>
            </div>
        </div>
    </div>
</div>