<div class="user-popup">
    <div class="header">
        <div class="circle user-pic">
            <div class="check-verified"></div>
        </div>
        <div class="name-container">
            <div class="bold-weigth-font">Frankie Sullivan</div>
            <div class="light-weigth-font">frankie@unititledui.com</div>
        </div>
    </div>

    <div class="body">
        <div class="btn-container">
            <button class="btn">
                <div>View profile</div>
                <div>⌘K→P</div>
            </button>
            <button class="btn">
                <div>Account settings</div>
                <div>⌘S</div>
            </button>
            <button class="btn">
                <div>Keyboard shortcuts</div>
                <div>?</div>
            </button>
        </div>
    </div>

    <div class="footer">
        <div class="btn-container">
            <button class="btn">
                <div>Log out</div>
                <div>⌥⇧Q</div>
            </button>
        </div>
    </div>
</div>