.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: white;
    width: 80px;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    left: 0;
    border-right: 2px solid var(--separators-color);
}

.sidebar-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 42px; */
    /* height: 42px; */
    background-color: lightgray;
    margin: 12px;
    /* margin: 12px 0 8px 0; */
}

.sidebar-logo {
    width: 40px;
    height: 40px;
    background-color: gray;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../icons/sidebar-logo.jpg);
}

.mac-buttons-container {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.mac-button {
    margin: 8px 0 0 8px;
    padding: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.mac-close-button {
    background-color: #ff5f57;
    border-color: rgb(170, 0, 0);
}

.mac-close-button:hover {
    background-color: #ff3333;
}

.mac-min-button {
    background-color: #ffbd2e;
    margin-left: 8px;
    border-color: rgb(255, 115, 0);
}

.mac-min-button:hover {
    background-color: #ffaa00;
}

.mac-max-button {
    background-color: #28c940;
    margin-left: 8px;
    border-color: rgb(0, 140, 0);
}

.mac-max-button:hover {
    background-color: #1fb933;
}

.sidebar-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.button {
    width: 42px;
    height: 42px;
    background-color: white;
    border: 1px solid var(--border-color-darker);
    border-radius: 6px;
    margin-top: 10px;
    transition: background-color 0.3s, border-color 0.3s;
}

.bottom-button {
    border: none;
}

.button:hover {
    background-color: #f0f0f0;
    border-color: #bbb;
    cursor: pointer;
}

.bottom-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: auto;
    margin-bottom: 20px;
}

.content {
    margin-left: 80px;
}

.circle {
    border-radius: 50%;
}

.btn-pic {
    background-repeat: no-repeat;
    background-position: center center;
}

.smth-btn-1 {
    background-image: url(../icons/smth-btn-01.jpg);
}

.smth-btn-2 {
    background-image: url(../icons/smth-btn-02.jpg);
}

.star-btn {
    background-image: url(../icons/star-04.svg);
}

.zip-btn {
    background-image: url(../icons/zap-circle.svg);
}

.smth-btn-3 {
    background-image: url(../icons/smth-btn-03.jpg);
}

.cube-btn {
    background-image: url(../icons/cube-01.svg);
}

.plus-btn {
    background-image: url(../icons/plus.svg);
}

.code-btn {
    background-image: url(../icons/code-02.svg);
}

.settings-btn {
    background-image: url(../icons/settings-03.svg);
}

.user-btn {
    background-image: url(../icons/sidebar-user-photo.jpg);
}

.check-verified {
    position: relative;
    bottom: -18px;
    right: -18px;
    width: 15px;
    height: 15px;
    background-image: url(../icons/check-verified-02.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}