<div class="sidebar">
  <div class="mac-buttons-container">
    <button class="mac-button mac-close-button"></button>
    <button class="mac-button mac-min-button"></button>
    <button class="mac-button mac-max-button"></button>
  </div>

  <div class="sidebar-logo-container">
    <div class="sidebar-logo"></div>
  </div>

  <div class="sidebar-buttons-container">
    <button class="sidebar-button"></button>
    <button class="sidebar-button"></button>
    <button class="sidebar-button"></button>
    <button class="sidebar-button"></button>
    <button class="sidebar-button"></button>
    <button class="sidebar-button"></button>
    <button class="sidebar-button sidebar-add-button"></button>
  </div>

  <div class="bottom-buttons-container">
    <button class="bottom-button"></button>
    <button class="bottom-button"></button>
    <button class="bottom-button"></button>
  </div>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>