*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus-visible {
    outline: none;
    box-shadow: 0px 0px 1px 1px var(--blue-color);
    transition: box-shadow 0.3s ease;
}

:root{
    --blue-color: #0073e1;
    --border-color-darker: #ddd;
    --border-color-lighter: #eee;
    --separators-color: #eee;
}

.light-weigth-font {
    font-weight: 300;
    color: #555;
}

.normal-weigth-font {
    font-weight: 400;
}

.bold-weigth-font {
    font-weight: 700;
}